*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Gambetta', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100svh;
    padding: 2.5rem 1.25rem;
}
img {
    width: 100%;
    display: block;
}
header {
    text-align: center;
}
.container {
    max-width: 650px;
    margin: 64px auto;
}
#manifest {
    color: #A7B1BF;
    font-size: 1.5rem;
    line-height: 130%;
    text-align: center;
    transition: filter 500ms ease-out;
}
.blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
  }
footer p {
    color: #A7B1BF;
    font-size: 1rem;
    line-height: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    body {
        height: 100vh;
        justify-content: space-between;
    }
}
@media (min-width: 576px) {
    #manifest {
        font-size: 2rem;
    }
}