*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(215, 234, 185);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(215, 234, 185)), to(rgb(246, 250, 242)));
  background: linear-gradient(180deg, rgb(215, 234, 185) 0%, rgb(246, 250, 242) 100%);
}
@media (min-width: 768px) {
  body {
    height: 100vh;
  }
}

a {
  text-decoration: none;
}

.logo {
  position: relative;
  padding: 0 2.5rem;
  margin-top: -24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
  -webkit-transition: -webkit-box-flex 2s ease-in-out;
  transition: -webkit-box-flex 2s ease-in-out;
  transition: flex 2s ease-in-out;
  transition: flex 2s ease-in-out, -webkit-box-flex 2s ease-in-out, -ms-flex 2s ease-in-out;
}
.logo img {
  height: 22px;
}
.logo #logo-1 {
  position: absolute;
}
.logo #logo-2 {
  position: absolute;
  right: 2.5rem;
}
.logo .logo-line {
  background-color: #26356C;
  height: 2px;
  position: absolute;
  left: calc(2.5rem + 54px);
  right: calc(2.5rem + 18px);
  margin-top: 22px;
}

.container {
  position: absolute;
}
@media (min-width: 768px) {
  .container {
    margin-top: 0;
  }
}
.container.manifest-top {
  left: 2.5rem;
  top: 2.5rem;
}
.container.manifest-btm {
  right: 2.5rem;
  bottom: 2.5rem;
}
.container.mail-wrapper {
  right: 2.5rem;
  top: 2.5rem;
}
.container.mail-wrapper a {
  color: #26356C;
  padding-bottom: 2px;
  border-bottom: 1px dotted #26356C;
}
.container.mail-wrapper a:hover {
  border-bottom: 1px solid #26356C;
}
.container.date-wrapper {
  left: 2.5rem;
  bottom: 2.5rem;
}
.container.date-wrapper img {
  width: 1rem;
  margin-bottom: -3px;
  margin-right: 0.5rem;
}
.container .style-mono {
  font-family: "Azeret Mono", monospace;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #26356C;
  letter-spacing: 0.05rem;
}
.container .manifest {
  color: #26356C;
  font-size: 1.5rem;
  line-height: 140%;
  -webkit-transition: -webkit-filter 4s ease-out;
  transition: -webkit-filter 4s ease-out;
  transition: filter 4s ease-out;
  transition: filter 4s ease-out, -webkit-filter 4s ease-out;
  -webkit-transition: filter 4s ease-out;
}
@media (min-width: 768px) {
  .container .manifest {
    -webkit-transition: -webkit-filter 1s ease-out;
    transition: -webkit-filter 1s ease-out;
    transition: filter 1s ease-out;
    transition: filter 1s ease-out, -webkit-filter 1s ease-out;
    -webkit-transition: filter 1s ease-out;
  }
}
.container .manifest.blur {
  filter: blur(10px);
  -webkit-filter: blur(8px);
}

.hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}/*# sourceMappingURL=style.css.map */